

.App{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100vw;
    height: 100vh;
    
}

.sub-container1{
    border: 1px rgba(104, 104, 104, 0.376) solid;
    
    padding:22px;
    max-width: 1440px;
    max-height: calc(100vh - 15vh);
    
    margin: auto;
  
   

}